

{{#if loggedIn}}
<form class="comment-form" id="new-comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button class="btn" type="submit">Add Comment</button>
    </div>
</form>
{{/if}}



{{#if loggedIn}}
    <script src="/js/comment.js"></script>
{{/if}}